@import 'bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

$light: #FFFFFF;
$concrete : #696969;
$emerald: #20AD96;
$lightgrey: #F5F7FA;
$lightgrey2: #F8F8F8;
$lightcrema: #F5F1ED;
$indac: #3F3A64;
$lightindac: #8C89A2;

.debug {
    outline: 1px solid red;
}


._myfirstherosection {
    outline: 1px solid red;

    h1 {
        font-size: 2.5rem;
        font-weight: 600;
        color: $indac;
    }

    h3 {
        font-size: 1.5rem;
        font-weight: 400;
        background-color: $emerald;
        color: $light;
        border-radius: 5px;
    }

    button {
        border-radius: 7px;
        border: transparent;
        background-color: $emerald;
        color: $light;
        padding: 10px;
    }

    p {
        color: $concrete;

        span {
            color: $emerald;
            font-weight: 600;

            border-bottom: 1px solid $lightgrey2;
            transition: border-bottom 0.5s ease-out;


            &:hover {
                border-bottom: 1px solid $emerald;
            }
        }
    }
}

._myheroimg {
    border-radius: 50%;
    width: 570px;
}

._myposition02 {
    top: 200px;
    right: 5px;
}

._myposition08 {
    top: 150px;
    left: 0;
}

._myposition07 {
    top: 350px;
    right: 40px;
}

._myfirstmainsection {
    background-color: $lightgrey;

    button {
        border-radius: 7px;
        border: transparent;
        background-color: $emerald;
        color: $light;
        padding: 10px;
    }
}